# SuperNETs Gitea Deployment - Developed by acidvegas (https://git.supernets.org/supernets/gitea)
# gitea/.env.example

# For gitea
GITEA_SECRET_KEY=
GITEA_INTERNAL_TOKEN=

# For the runner
GITEA_INSTANCE_URL=
GITEA_RUNNER_TOKEN=
GITEA_RUNNER_NAME=